@page {
    size: letter landscape;
    margin: 0in;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    width: 11in;
    height: 8.5in;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.container {
    width: 11in;
    height: 8.5in;
    position: relative;
}

.header {
    color: #B50000;
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif !important;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    width: 100%;
    height: 88px;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 0;
    text-wrap: nowrap;
    margin-top: 10px;
}

.hazard-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;
    width: 10in;
    height: 4in;
    position: absolute;
    top: 1in;
    left: 0.5in;
}

.hazard-icons div {
    width: 178px;
    height: 178px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #E9E9E9;
}

.hazard-icons img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.room-building {
    color: #000;
    font-family: 'Open Sans Condensed', 'Helvetica Neue', Arial, sans-serif !important; 
    font-size: 67px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%; 
    height: 76px;
    flex-shrink: 0;
    text-align: center;
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
}


.contact-info {
    position: absolute;
    top: 560px; 
    left: 41%; 
    transform: translateX(-50%);
    width: 100%; /* Set width to 100% to allow proper alignment within the container */
    display: flex; /* Use flexbox to position children elements */
    justify-content: center; /* Center align the flex items */
    align-items: flex-start; /* Align items to the start of the container */
}

.contact-header {
    color: #B50000;
    text-align: right; /* Align text to the right */
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif !important;
    font-size: 36px;
    font-weight: 700;
    flex: 0 0 50%; /* Set flex basis to 50% of the container width */
    margin-right: 20px; /* Add some space between the header and the table */
    white-space: pre-wrap; /* Preserve whitespace and line breaks */
    margin-top: -50px;
}


.contact-table {
    display: grid; /* Use grid layout for the contact table */
    grid-template-columns: repeat(2, 3.8in); /* Create two columns with auto width */
    grid-gap: 10px; /* Add some space between grid items */
    border: 1px solid #56A0D3;
    padding: 10px;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width */
    flex: 1; /* Allow the table to take the remaining width */
    width: auto;
    margin-right: -70px;
}

.contact-column,
.contact-phone-column {
    display: contents; /* Use display: contents to use grid layout for individual items */
}


.contact-column div,
.contact-phone-column div {
    margin-bottom: 10px;
}

.contact-column span,
.contact-phone-column span {
    font-weight: bold;
    color: #00467f;
}



.warning {
    width: 360px;
    height: 77px;
    flex-shrink: 0;
    background-color: #56A0D3;
    border: 1px solid #56A0D3;
    padding: 0px 10px;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif !important;
    font-size: 17px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.058px;
    position: absolute; 
    bottom: 25px; 
    left: 25px; 
}

.emergency-box {
    background-color: #D0DFF1;
    border: 1px solid #0362BA;
    width: 600px;
    height: 77px;
    position: absolute; 
    bottom: 25px; 
    right: 25px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.emergency-text {
    color: #B50000;
    font-family: 'Open Sans Condensed', 'Helvetica Neue', Arial, sans-serif !important;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.526px;
    text-align: left;
    text-wrap: nowrap;
    padding: 0 90px;
}

