<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab Sign Template</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/horizontalstyle.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            LABORATORY HAZARD INFORMATION
        </div>

        <div class="hazard-icons">
            {% for icon in hazard_icons %}
            <div><img src="{{ icon }}" alt="Hazard Icon"></div>
            {% endfor %}
        </div>

        <div class="room-building">
            <p>{{ room }} {{ building }}</p>
        </div>

        
        <div class="contact-header">
            EMERGENCY<br>CONTACT<br>INFORMATION
        </div>


        <div class="contact-table">
            <div class="contact-column">
                <div>Primary Contact: <span>{{ primary_contact }}</span></div>
                <div>Alternate Contact: <span>{{ alternate_contact }}</span></div>
                <div>Principal Investigator: <span>{{ pi_contact }}</span></div>
                <div>Department: <span>{{ department }}</span></div>
            </div>
            <div class="contact-phone-column">
                <div>Phone: <span>{{ primary_phone }}</span></div>
                <div>Phone: <span>{{ alternate_phone }}</span></div>
                <div>Phone: <span>{{ pi_phone }}</span></div>
                <div>Date Updated: <span>{{ date_updated }}</span></div>
            </div>
        </div>
        

        <div class="warning">
            EYE PROTECTION & LAB COAT REQUIRED AT ALL TIMES. EATING & DRINKING ARE PROHIBITED IN LAB AREAS.
        </div>
        
        <div class="emergency-box">
            <div class="emergency-text">
                EMERGENCY: DIAL 911
            </div>
        </div>
    </div>
</body>
</html>
